@import "tailwindcss";

@theme {
  --font-display: "Satoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
}
@layer components {
  .container {
    --color-primary: #ed3849;
    --center: true;
    --padding: 1.25rem;
  }
}
