@import "tailwindcss";

@theme {
  /* Moved container styles */
  --container-center: true;
  --container-padding: 1.25rem;

  /* Moved colors */
  --color-primary: #00d991;
}

@layer utilities {
  .dark {
    color-scheme: dark;
  }
}
