@import "tailwindcss";

@theme {
  /* Moved container styles */
  --container-center: true;
  --container-padding: 1.25rem;

  /* Moved colors */
  --color-primary: #00d991;
}

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  .dark {
    color-scheme: dark;
    background-color: #0c1221;
    color: white;
  }
}
